.app {
    width: 100vw;
    height: 100vh;

    margin: 0;

    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    & * {
        box-sizing: border-box;
    }
}

:root{
    --bg-color: @dark-background-color;
    --container-bg-color: @white;

    --text-primary-color: @white;
    --text-secondary-color: @light-brown;
}

:root[theme='light'] {
    --bg-color: @light-background-color;
    --container-bg-color: @brown;

    --text-primary-color: @brown;
    --text-secondary-color: @white;
}