.calendar {
    width: 500px;
    height: 270px;

    display: flex;
    flex-direction: column;

    color: @light-brown;
    background-color: @white;

    border-radius: 14px;

    position: relative;
    z-index: 1;

    overflow: hidden;
}