.calendar-section {
    width: 1100px;
    margin: -80px auto 0;

    display: flex;
    justify-content: center;

    position: relative;


    &__dates {
        margin-left: 50px;
    }

    &__prev-button {
        position: absolute;
        top: 50%;
        left: 20px;
    }

    &__next-button {
        position: absolute;
        top: 50%;
        right: 20px;
    }
}