.table {
    width: 614px;

    border-radius: 14px 14px 0 0;
    border: 1px solid var(--container-bg-color);

    display: flex;
    flex-direction: column;

    background-color: @white;
    

    z-index: 1;

    position: relative;

    &__deleted-zone {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, 100%);

        width: 25px;
        height: 32px;
    
        z-index: 1000;
    
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='32' viewBox='0 0 25 32' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.45796 0.0419817C7.74541 0.170869 7.31256 0.47613 7.03952 1.04595C6.85306 1.43261 6.85306 1.4394 6.83309 3.0064L6.80645 4.58019L4.10277 4.60054C1.41906 4.62089 1.39242 4.62089 1.04614 4.7837C-0.0393291 5.2789 -0.338998 6.57456 0.426823 7.4632C0.699855 7.78203 1.04614 7.9584 1.50563 8.02624C2.09831 8.11443 23.3881 8.08051 23.7078 7.98554C24.5469 7.7549 25.1129 6.85268 24.9331 6.03866C24.7999 5.4417 24.4803 5.04825 23.9009 4.77691C23.5746 4.62089 23.5213 4.62089 20.8576 4.60054L18.1539 4.58019L18.1273 2.93857L18.1073 1.29694L17.9208 0.910278C17.7211 0.489697 17.5213 0.313324 17.0618 0.123384C16.8021 0.0216303 16.3759 0.00806332 12.7799 0.00127983C10.5823 -0.00550365 8.63776 0.0148468 8.45796 0.0419817ZM15.8764 3.43377V4.58697H12.4802H9.08393V3.43377V2.28056H12.4802H15.8764V3.43377Z' fill='white'/%3e%3cpath d='M1.38149 13.0478C2.81631 24.9661 3.35019 29.39 3.40358 29.7653C3.47699 30.2998 3.75061 30.7831 4.19106 31.1926C4.57146 31.5394 4.8384 31.6873 5.40565 31.8635L5.83944 32H12.4796H19.1199L19.5536 31.8635C20.1209 31.6873 20.3878 31.5394 20.7682 31.1926C21.2087 30.7831 21.4823 30.2998 21.5557 29.7653C21.5891 29.5265 22.0562 25.694 22.5901 21.253C23.124 16.8121 23.6312 12.6213 23.7113 11.939L23.8648 10.705H12.4796H1.1012L1.38149 13.0478ZM7.33432 12.7578C7.65465 12.9056 7.8682 13.1786 7.90824 13.4913C7.92826 13.6335 8.20188 17.0168 8.50887 21.0142C9.04275 27.7922 9.06945 28.2926 8.97602 28.4859C8.8292 28.7816 8.64234 28.9408 8.30199 29.0488C7.78812 29.2137 7.22754 29.0375 6.95392 28.6224C6.8071 28.4063 6.78041 28.0936 6.23985 21.1905C5.92619 17.2272 5.6726 13.8325 5.6726 13.6505C5.6726 13.2923 5.76603 13.0819 6.01962 12.8829C6.3533 12.6156 6.92723 12.5588 7.33432 12.7578ZM13.1337 12.8033C13.2538 12.8715 13.4073 13.0307 13.4807 13.1501C13.6142 13.3662 13.6142 13.514 13.6142 20.855C13.6142 27.0757 13.6008 28.3665 13.5207 28.5257C13.4006 28.7702 12.9868 29.0545 12.6799 29.1C12.166 29.1739 11.5987 28.901 11.4185 28.4859C11.3652 28.3779 11.3451 25.984 11.3451 20.8493C11.3451 13.514 11.3451 13.3662 11.4786 13.1501C11.5987 12.9511 11.839 12.7635 12.0792 12.6782C12.2995 12.5986 12.9201 12.6725 13.1337 12.8033ZM18.8062 12.7919C19.1465 13.008 19.2867 13.2468 19.2867 13.6335C19.2867 13.8268 19.0331 17.2272 18.7194 21.1962C18.1589 28.3949 18.1589 28.4006 17.992 28.6451C17.8052 28.9124 17.3847 29.1285 17.0444 29.1285C16.8041 29.1285 16.357 28.9579 16.2035 28.81C16.1368 28.7475 16.0433 28.6053 15.9833 28.4859C15.8898 28.2926 15.9232 27.7751 16.4504 21.0142C16.7574 17.0168 17.031 13.6335 17.051 13.4913C17.0911 13.1842 17.3046 12.9113 17.6183 12.7521C17.9186 12.5986 18.5326 12.6156 18.8062 12.7919Z' fill='white'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.table-row {
    display: flex;
    flex-flow: row no-wrap;

    cursor: pointer;

    color: @light-brown;
    background-color: @light-gray;
}

.item {
    width: 100px;
    height: 40px;
    //margin: 2px;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    //color: @light-brown;
}

.user-item {
    width: 200px;
}

.button {
    cursor: pointer;
}

.user-wrapper {
    border: 1px solid @blue;
}

// Чекбоксонёчек нелюбимый (любимый)
 
.checkbox-item {
    display: block;
    position: relative;
}

.checkbox__input {
    &._hidden {
        width: 1px;
        height: 1px;

        position: absolute;
        top: 0;
        left: 0;
 
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
}

.checkbox__content {
    &:before {
        width: 100%;
        height: 100%;
        margin-right: 4px;
    
        display: inline-block;
    
        cursor: pointer;
    
        content: "";
     
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.70726 0.0256748C1.58098 0.172092 0.527901 1.05904 0.153411 2.17688C0.113991 2.29232 0.0633086 2.51195 0.0407829 2.66118C-0.0859243 3.50871 0.0830186 4.30556 0.54198 4.9926C0.612373 5.09959 1.64856 6.1583 3.36051 7.87026L6.06641 10.5818L3.44217 13.206C1.06289 15.5881 0.803842 15.8584 0.648977 16.1006C0.468771 16.3793 0.34488 16.6637 0.243514 17.0298C0.192831 17.21 0.184384 17.3226 0.184384 17.8041C0.181569 18.3363 0.1872 18.3813 0.260409 18.646C0.508192 19.5329 1.12765 20.2819 1.95547 20.6958C2.40035 20.9183 2.78892 21.0027 3.35769 20.9999C4.05881 20.9999 4.53748 20.862 5.08936 20.5044C5.30054 20.3692 5.68629 19.9975 7.96139 17.7253L10.5856 15.101L13.0719 17.5817C14.4375 18.9445 15.6201 20.1074 15.699 20.1637C16.203 20.5241 16.8478 20.7184 17.5264 20.7184C18.25 20.7184 18.8582 20.5213 19.4129 20.1045C20.0126 19.6597 20.4406 19.0317 20.6293 18.3335C20.6997 18.08 20.7053 18.0125 20.7053 17.5225C20.7053 17.0326 20.6997 16.965 20.6293 16.7116C20.542 16.385 20.3505 15.9711 20.1703 15.7092C20.0887 15.5938 19.1004 14.5829 17.5714 13.054L15.1049 10.5818L17.7826 7.90123C19.8296 5.85139 20.4913 5.16999 20.5927 5.01512C21.2882 3.95078 21.2825 2.51758 20.5786 1.4814C20.4237 1.25333 20.0295 0.845047 19.793 0.667658C19.258 0.265011 18.6442 0.0707264 17.9206 0.0707264C17.2138 0.0707264 16.707 0.217144 16.1467 0.58037C15.9974 0.676105 15.2794 1.37722 13.2662 3.38482L10.5856 6.06257L7.8741 3.35666C5.03305 0.518425 5.02741 0.512793 4.55719 0.293167C4.31504 0.177723 3.92365 0.0594635 3.65898 0.0228596C3.44217 -0.00811386 2.95786 -0.00811386 2.70726 0.0256748Z' fill='%237F6F55'/%3e%3c/svg%3e");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.checkbox__input:checked + .checkbox__content:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='23' viewBox='0 0 29 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.8055 0.0595169C25.5193 0.129585 25.2332 0.263882 24.6172 0.617138C22.7867 1.67107 20.4628 3.48407 17.7944 5.93643C15.4209 8.1202 12.3058 11.2791 9.90889 13.9387C9.66073 14.2102 9.45053 14.438 9.43885 14.4438C9.40674 14.4555 8.14844 13.3227 5.5647 10.955C4.321 9.81642 3.92396 9.52739 3.32838 9.32302C2.16643 8.92598 0.805952 9.52155 0.251251 10.6689C0.0614849 11.063 0.000175857 11.3287 0.000175857 11.7637C-0.00274362 12.1695 0.0293706 12.333 0.195781 12.7271C0.400145 13.2059 0.624944 13.4891 1.46575 14.3329C3.89768 16.7706 6.25662 19.4828 7.4828 21.252C7.83606 21.76 8.03458 22.0023 8.31777 22.2768C8.70314 22.6417 9.03596 22.8315 9.49432 22.9482C9.70452 23.0008 9.79795 23.0066 10.122 22.9949C10.557 22.9803 10.7497 22.9336 11.0884 22.7731C11.3832 22.6329 11.6285 22.4461 11.8766 22.1804C12.1627 21.8709 12.335 21.6315 12.84 20.8287C13.786 19.3281 14.9946 17.556 16.0982 16.0524C19.6308 11.244 23.2217 7.40785 26.6171 4.82119C27.9192 3.82857 28.3016 3.42568 28.4943 2.84762C28.5644 2.63742 28.5731 2.56443 28.5731 2.21701C28.5731 1.76157 28.5322 1.57473 28.3571 1.20979C28.0768 0.625896 27.5542 0.214251 26.8973 0.0565987C26.5733 -0.0193081 26.1237 -0.0193081 25.8055 0.0595169Z' fill='%237F6F55'/%3e%3c/svg%3e");
    background-size: 29px 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__input:disabled + .checkbox__content:before {
    border: 1px solid gray;
}

.checkbox__input:focus + .checkbox__content:before {
    outline: 2px solid black;
}

.edit-item {
    position: relative;
}

.form {
    z-index: 1000;

    & input {
        width: 100%;
        
        &:focus {
            border: none;
            outline: none;
        }
    }

    &._focused {
        position: absolute;
        border: 2px solid @light-brown;
    }
}

._selected {
    opacity: 0.4;
}