.test-class {
    width: 200px;
    height: 100px;

    border: 1px solid @red;
}

.user-wrapper {
    width: 200px;
    height: 100px;

    border: 1px solid @blue;
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid @red;
}

.table-row {
    margin: 5px;
    display: flex;
    border: 1px solid @red;
}

.user-item {
    width: 100px;
    height: 20px;

    padding: 10px;
    border: 1px solid @blue;

}

.edit-item {
    background-color: @gray;
}